@import "materialize";
@import "toastr";


/* We add this to make the footer fixed to the bottom */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
/* Colocar o container a ocupar todo o ecra: */
.container {
	width:95%;
}
